.pricing {
    width: 100%;
    padding: 80px 0 59px;
    background-color: #F5F5F5;
}
.list--pricing {
    margin: 0 15px;
    transition: 0.5s;
}
.list--pricing:hover{
    cursor: pointer;
    box-shadow: 5px 10px 40px 1px rgba(134, 135, 139, 0.3);
  }
.list__item--name {
    width: 340px;
    line-height: 50px;
    background-color: #333333;
    color: #ffff;
    text-align: center;
    font-size: 20px;
    margin-bottom: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.list__item--tarif {
    width: 340px;
    line-height: 100px;
    background-color: #333333;
    color: #ffff;
    text-align: center;
    font-size: 35px;
    margin-bottom: 2px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.list__item--Free {
    width: 340px;
    line-height: 50px;
    background-color: #333333;
    color: rgb(255, 255, 255, 0.5);
    text-align: center;
    font-size: 14px;
    margin-bottom: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.list__item--space {
    width: 340px;
    line-height: 40px;
    background-color: #ffff;
    color: rgb(134, 135, 139);
    text-align: center;
    font-size: 14px;
    margin-bottom: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}